API_ID=17075103
API_HASH=097920d1b5cd9c2d417c60ce680b9c43
AUTO_LEAVING_ASSISTANT=True
BOT_TOKEN=6417202271:AAGGeOlIvOGzwG4Hi4Qoj5xGoQsmpcWehN4
DURATION_LIMIT=5000
MONGO_DB_URI=mongodb+srv://kazumusik:kazumusik@cluster0.4lhw10l.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1002093912027
MUSIC_BOT_NAME=Kazu x Robot
OWNER_ID=5063062493
STRING_SESSION1=BQEziO4ASJ_hMGUDsmNSCCpugnd9AW6doJQ05xCPjqafyfS9O6_6ZQaUQDLoNk1TNAXU7YOD-whZifoZ9E7IjUxklKHAtLCJABq6VW09kQ67xvP_AsQE6tFWATZo5kAymBjxfI6z8d2PgnPgsLzzoMyTbWPyOQyRXo2QA_0FdS0V9EJ2c1wBpCbnK9X0uKnEY7NhaaIEyTeWM96GuAOyohmlknSA3HUWh7bOqLn-_At6jk-GA1A8sqDwTpF5BsGKDEElz5mZm_25YKotcHXAiSfMsAj_d05CBDLoDNgkNEIzotN7HgVeT3vVztRLxbQnwlOaH69kKYjdIK1XHmAwCnn3CmfqRAAAAAAwwNozAA
UPSTREAM_BRANCH=main
UPSTREAM_REPO=https://github.com/ionmusic/ehem
